<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="center-header">
    <div class="header-button">
      <%= link_to "カレンダー", room_calendars_path(@room), class:"btn--shadow" %>
      <%= link_to "利用者記録", room_conditions_path(@room), class:"btn--shadow" %>
      <%# <%= link_to "連絡先",'#', class:"btn--shadow" %> 
    </div>
  </div>
  <div class="right-header">
    <div class="header-button-another">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'input', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'メッセージを入力してください' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>